binds {
    Mod+1 { focus-workspace "terminal"; }
    Mod+Shift+1 { move-column-to-workspace "terminal"; }
    Mod+2 { focus-workspace "browser"; }
    Mod+Shift+2 { move-column-to-workspace "browser"; }
    Mod+3 { focus-workspace "music"; }
    Mod+Shift+3 { move-column-to-workspace "music"; }
    Mod+4 { focus-workspace "messengers"; }
    Mod+Shift+4 { move-column-to-workspace "messengers"; }
    Mod+5 { focus-workspace "launchers"; }
    Mod+Shift+5 { move-column-to-workspace "launchers"; }
    Mod+6 { focus-workspace "games"; }
    Mod+Shift+6 { move-column-to-workspace "games"; }

    Mod+Shift+O { show-hotkey-overlay; }

    Mod+S {spawn-sh "~/.cfg/niri/suspend_active_window.fish";} //suspend process
    Mod+Shift+S {spawn-sh "pkill --signal usr1 waybar";}

    Mod+Return hotkey-overlay-title="Open a Terminal: kitty" { spawn "kitty"; }
    Mod+D hotkey-overlay-title="Run an Application: rofi" { spawn "rofi" "-show" "drun"; }
    Mod+Shift+Z hotkey-overlay-title="Lock the Screen: swaylock" { spawn "swaylock"; }
    Mod+Z allow-when-locked=true hotkey-overlay-title="Suspend" { spawn-sh "swaylock & systemctl suspend"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+5%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "5%-"; }

    Mod+O repeat=false { toggle-overview; }

    Mod+Q repeat=false { close-window; }
    Mod+Shift+Q repeat=false { spawn-sh "kill -9 $(niri msg focused-window | grep PID: | tr -d 'PID: ')"; } //force kill

    Mod+H     { focus-column-left; }
    Mod+J     { focus-window-down; }
    Mod+K     { focus-window-up; }
    Mod+L     { focus-column-right; }

    Mod+Shift+H  { consume-or-expel-window-left; }
    Mod+Shift+L { consume-or-expel-window-right; }
    Mod+Shift+J     { move-window-down; }
    Mod+Shift+K     { move-window-up; }

    Mod+Left { focus-column-first; }
    Mod+Right  { focus-column-last; }

    Mod+Space {move-workspace-to-monitor-next; }

    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Ctrl+U         { move-column-to-workspace-down; }
    Mod+Ctrl+I         { move-column-to-workspace-up; }

    Mod+Shift+U         { move-workspace-down; }
    Mod+Shift+I         { move-workspace-up; }

    // Mod+1 { focus-workspace 1; }
    // Mod+2 { focus-workspace 2; }
    // Mod+3 { focus-workspace 3; }
    // Mod+4 { focus-workspace 4; }
    // Mod+5 { focus-workspace 5; }
    // Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    // Mod+Shift+1 { move-column-to-workspace 1; }
    // Mod+Shift+2 { move-column-to-workspace 2; }
    // Mod+Shift+3 { move-column-to-workspace 3; }
    // Mod+Shift+4 { move-column-to-workspace 4; }
    // Mod+Shift+5 { move-column-to-workspace 5; }
    // Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    Mod+R { switch-preset-column-width; }

    Mod+Ctrl+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }

    Mod+Ctrl+F { maximize-window-to-edges; }
    Mod+Shift+F { fullscreen-window; }
    Mod+F { maximize-column; }

    Mod+Ctrl+C { center-visible-columns; }

    // This command can also:
    // * set width in pixels: "1000"
    // * adjust width in pixels: "-5" or "+5"
    // * set width as a percentage of screen width: "25%"
    // * adjust width as a percentage of screen width: "-10%" or "+10%"
    Mod+Minus { set-column-width "-5%"; }
    Mod+Plus { set-column-width "+5%"; }
    Mod+Shift+Minus { set-window-height "-5%"; }
    Mod+Shift+Plus { set-window-height "+5%"; }

    Mod+W { toggle-column-tabbed-display; }

    Print { screenshot; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    // The allow-inhibiting=false property can be applied to other binds as well,
    // which ensures niri always processes them, even when an inhibitor is active.
    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }
    Mod+Shift+E { quit; } // The quit action will show a confirmation dialog to avoid accidental exits.
    Mod+Shift+P { power-off-monitors; } //To turn them back on, do any input like moving the mouse or pressing any other key.

    Mod+P {spawn-sh "copyq menu";} //copyq
}
