include "binds.kdl"
include "window_rules.kdl"

overview {
    zoom 0.33
}

// https://niri-wm.github.io/niri/Configuration:-Input
input {
    keyboard {
        xkb {
            // For more information, see xkeyboard-config(7).
            layout "fi"
            options "caps:escape"
            // If this section is empty, niri will fetch xkb settings
            // from org.freedesktop.locale1. You can control these using
            // localectl set-x11-keymap.
        }
        numlock
    }
    // Omitting settings disables them, or leaves them at their default values.
    // All commented-out settings here are examples, not defaults.
    touchpad {
        // off
        tap
        // dwt
        // dwtp
        // drag false
        // drag-lock
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "two-finger"
        // disabled-on-external-mouse
    }

    mouse {
        // off
        // natural-scroll
        // accel-speed 0.2
        // accel-profile "flat"
        // scroll-method "no-scroll"
    }

    // Uncomment this to make the mouse warp to the center of newly focused windows.
    warp-mouse-to-focus

    // Focus windows and outputs automatically when moving the mouse into them.
    // Setting max-scroll-amount="0%" makes it work only on windows already fully on screen.
    // focus-follows-mouse max-scroll-amount="0%"
}

// https://niri-wm.github.io/niri/Configuration:-Outputs
output "eDP-1" {
    position x=0 y=1440
}
output "HDMI-A-1" {
    position x=0 y=0
}

// https://niri-wm.github.io/niri/Configuration:-Layout
layout {
    // Set gaps around windows in logical pixels.
    gaps 1

    // When to center a column when changing focus, options are:
    // - "never", default behavior, focusing an off-screen column will keep at the left
    //   or right edge of the screen.
    // - "always", the focused column will always be centered.
    // - "on-overflow", focusing a column will center it if it doesn't fit
    //   together with the previously focused column.
    center-focused-column "never"
    preset-column-widths {
        proportion 0.5
        proportion 0.9

        // Fixed sets the width in logical pixels exactly.
        // fixed 1920
    }
    default-column-width { proportion 0.9; }
    focus-ring {
        width 1
        active-color "#7fc8ff"
        inactive-color "#505050"
        // active-gradient from="#80c8ff" to="#c7ff7f" angle=45
        // inactive-gradient from="#505050" to="#808080" angle=45 relative-to="workspace-view"
    }
    tab-indicator {
        hide-when-single-tab
        position "left"
        place-within-column
        width 5
        length total-proportion=1.0
        gaps-between-tabs 10
        active-color "#7fc8ff"
        inactive-color "#ffffff"
    }
}

workspace "terminal" {
    open-on-output "HDMI-A-1"
}
workspace "browser"{
    open-on-output "HDMI-A-1"
}
workspace "music"{
    open-on-output "eDP-1"
}
workspace "messengers"{
    open-on-output "eDP-1"
}
workspace "launchers"{
    open-on-output "eDP-1"
}
workspace "games"{
    open-on-output "HDMI-A-1"
}

// Note that running niri as a session supports xdg-desktop-autostart,
// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
spawn-at-startup "waybar"
spawn-at-startup "copyq --start-server"

hotkey-overlay {
    skip-at-startup
}

// If the client will specifically ask for CSD, the request will be honored.
prefer-no-csd

// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// https://niri-wm.github.io/niri/Configuration:-Animations
animations {
    // off
    slowdown 0.5
}
