include "input.kdl"
include "binds.kdl"
include "window_rules.kdl"

overview {
    zoom 0.33
}

// https://niri-wm.github.io/niri/Configuration:-Outputs
output "eDP-1" {
    position x=0 y=1080
}
output "HDMI-A-1" {
    position x=0 y=0
    mode "2560x1440"
}

// https://niri-wm.github.io/niri/Configuration:-Layout
layout {
    // Set gaps around windows in logical pixels.
    gaps 0

    // - "never",
    // - "always",
    // - "on-overflow",
    center-focused-column "never"
    preset-column-widths {
        proportion 0.5
        proportion 0.9

        // Fixed sets the width in logical pixels exactly.
        // fixed 1920
    }
    default-column-width { proportion 0.9; }
    border {
        width 1
        // inactive-color "#505050"
        inactive-gradient from="#505050" to="#600060" angle=45 relative-to="workspace-view"
        active-gradient from="#80c8ff" to="#ff00ff" angle=45 relative-to="workspace-view"
    }
    focus-ring {
        off
    }
    tab-indicator {
        hide-when-single-tab
        position "left"
        place-within-column
        width 5
        length total-proportion=1.0
        gaps-between-tabs 10
        active-color "#ff00ff"
        inactive-color "#101010"
    }
}

workspace "terminal" {
    open-on-output "HDMI-A-1"
}
workspace "browser"{
    open-on-output "HDMI-A-1"
}
workspace "music"{
    open-on-output "eDP-1"
}
workspace "messengers"{
    open-on-output "eDP-1"
}
workspace "launchers"{
    open-on-output "eDP-1"
}
workspace "games"{
    open-on-output "HDMI-A-1"
}

// Note that running niri as a session supports xdg-desktop-autostart,
// To run a shell command (with variables, pipes, etc.), use spawn-sh-at-startup:
// spawn-at-startup "waybar"
spawn-sh-at-startup "swaybg -i ~/pictures/bg/20260727_220057.jpg"
spawn-sh-at-startup "openrgb -d 6 -m static -c 00ffff"
spawn-sh-at-startup "copyq --start-server"
spawn-sh-at-startup "dunst"
spawn-sh-at-startup "~/.config/palkki/target/release/palkki_config &> ~/.local/state/palkki/palkki.log"

hotkey-overlay {
    skip-at-startup
}

// If the client will specifically ask for CSD, the request will be honored.
prefer-no-csd

// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

// https://niri-wm.github.io/niri/Configuration:-Animations
animations {
    // off
    slowdown 0.5
}
