

// https://niri-wm.github.io/niri/Configuration:-Window-Rules
window-rule {
    // This app-id regular expression will work for both:
    // - host Firefox (app-id is "firefox")
    // - Flatpak Firefox (app-id is "org.mozilla.firefox")
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
	match app-id=r#"kitty$"#
	open-on-workspace "terminal"
}
window-rule {
	match app-id=r#"firefox$"#
	open-on-workspace "browser"
	open-maximized true
}
window-rule {
	match app-id=r#"Spotify"#
	open-on-workspace "music"
	open-maximized true
}
window-rule {
	match app-id=r#"Minecraft.*"#
	open-on-workspace "games"
}
window-rule {
	match app-id=r#"steam_app_.*"#
	open-on-workspace "games"
}
window-rule {
	match app-id=r#".*lutris.*"#
	open-on-workspace "launchers"
}
window-rule {
	match app-id=r#"steam"#
	open-on-workspace "launchers"

}
window-rule {
	match app-id=r#"telegram"#
	open-on-workspace "messengers"
}

window-rule {
	match app-id=r#"^org\.keepassxc\.KeePassXC$"#
	match app-id=r#"^org\.gnome\.World\.Secrets$"#
	block-out-from "screen-capture"
}

window-rule {
	match title=r#"^CopyQ$"#
	open-floating true
}
